.cabecalho1 {
    text-align: center;
    background-color: aqua;
}
.precos {
    text-align: center;
}
p {
    color: aqua;
}
.cabecalho2 {
    text-align: center;
}
.cabecalho3 {
    font-size: 30px;
}
a {
    text-align: center;
}
footer {
    background-color: black;
}